<div class="nav">
  <img class="header" nz-popover [nzPopoverTitle]="headerTemplate" [nzPopoverContent]="contentTemplate"
    [(nzVisible)]="visible" nzPopoverTrigger="click" nzPopoverPlacement="rightTop" [src]="userInfo?.avatar">
  <ul>
    <li [class.selected]="item.selected" *ngFor="let item of navList;" (click)="navigate(item)">
      <i [class]="item.icon"></i>
      <span>{{item.name}}</span>
    </li>
  </ul>
</div>

<ng-template #headerTemplate>
  <p class="title">北京俱乐部（{{userInfo?.nickname}}）</p>
</ng-template>

<ng-template #contentTemplate>
  <li class="operate" (click)="authoritySet()">
    <span>权限管理</span>
  </li>
  <li class="operate" (click)="updateInfo()">
    <span>账号资料设置</span>
  </li>
  <li class="operate" (click)="preferenceSet()">
    <span>个人偏好设置</span>
  </li>
  <li class="operate" (click)="logout()">
    <span>退出登录</span>
  </li>
</ng-template>
