<div class="portal">
  <app-header [icon]="'bank'" [title]="'个人中心'"></app-header>
  <div class="portal-content">
    <div class="portal-part">
      <p>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>个人信息</span>
      </p>
      <div>
        <div style="text-align: center;">
          <img [src]="userInfo.avatar" alt="">
          <p>{{userInfo.introduction}}</p>
        </div>
        <nz-divider style="height: 90%;" nzType="vertical"></nz-divider>
        <div style="align-items: flex-start; padding-left: 20px;">
          <p>账号：{{userInfo.username}}</p>
          <p>昵称：{{userInfo.nickname}}</p>
          <p>性别：{{userInfo.sex === 1 ? '男' : '女'}}</p>
          <p>邮箱：{{userInfo.email}}</p>
        </div>
      </div>
    </div>
    <div class="portal-part" style="margin: 0 0 0 10px;">
      <p>
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>我的待办</span>
      </p>
      <div>
        <app-todo style="width: 100%;align-self: flex-start;"></app-todo>
      </div>
    </div>

    <div class="portal-part" style="width: 100%; margin: 15px 0 0 0; flex:none;">
      <p>
        <i nz-icon nzType="bars" nzTheme="outline"></i>
        <span>成员</span>
      </p>
      <div>
        <app-member style="width: 100%;align-self: flex-start;"></app-member>
        <!-- <nz-empty></nz-empty> -->
      </div>
    </div>
  </div>
</div>
