.portal {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  app-header {
    width: 100%;
  }

  .portal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 15px;

    .portal-part {
      width: 0;
      flex: 1;
      height: 300px;
      margin-right: 10px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &>p {
        width: 100%;
        line-height: 40px;
        height: 40px;
        margin: 0;
        padding-left: 20px;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }

      &>div {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 15px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 49%;
          height: 80%;
          p {
            margin: 1px 0;
          }
          img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
          }
        }
      }
    }
  }
}
