<div class="my">
  <div class="my-header">
    <app-clock></app-clock>
  </div>
  <div class="my-content">
    <div class="left" style="margin-right: 15px;">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>个人信息</span>
      </p>
      <div>
        <div class="display-name">
          <img class="avatar" [src]="userInfo?.avatar">
          <p>{{userInfo?.nickname}}</p>
          <span>({{userInfo?.username}})</span>
        </div>
        <ul class="display-info">
          <li>
            <label>部门: </label> <span>技术中心</span>
          </li>
          <li>
            <label>职位: </label> <span>CEO</span>
          </li>
          <li>
            <label>手机: </label> <span>{{userInfo?.phoneNumber}}</span>
          </li>
          <li>
            <label>邮箱: </label> <span>{{userInfo?.email}}</span>
          </li>
          <li>
            <label>简介: </label> <span>{{userInfo?.introduction}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>今日日程</span>
      </p>
      <div>
        <app-schedule-card *ngFor="let item of mySchedule;" [data]="item">
        </app-schedule-card>
        <nz-empty *ngIf="mySchedule.length === 0"></nz-empty>
      </div>
    </div>
  </div>
</div>
