<div class="my">
  <app-header [icon]="'smile'" [title]="'我的任务'"></app-header>
  <div class="my-content">
    <div class="left" style="margin-right: 15px;">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>个人信息</span>
      </p>
      <div>
        <nz-empty *ngIf="mySchedule.length === 0"></nz-empty>
      </div>
    </div>
    <div class="right">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>今日日程</span>
      </p>
      <div>
        <app-schedule-card *ngFor="let item of mySchedule;" [data]="item">
        </app-schedule-card>
        <nz-empty *ngIf="mySchedule.length === 0"></nz-empty>
      </div>
    </div>
  </div>
</div>
