<div class="my">
  <div class="my-header">
    <img [src]="userInfo?.avatar" alt="" class="avatar">
    <div class="clock">
      <app-clock></app-clock>
    </div>
    <div class="pic">
      <p>{{userInfo?.nickname}}<span>({{userInfo?.introduction}})</span>
      </p>
    </div>
    <ul class="info">
      <li>
        <i class="iconfont icon3901qia"></i>
        <span>CEO</span>
      </li>
      <nz-divider nzType="vertical"></nz-divider>
      <li>
        <i class="iconfont iconemail"></i>
        <span>{{userInfo?.email}}</span>
      </li>
      <nz-divider nzType="vertical"></nz-divider>
      <li>
        <i class="iconfont iconphone"></i>
        <span>{{userInfo?.phoneNumber}}</span>
      </li>
    </ul>
  </div>
  <div class="my-content">
    <div class="task-list">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>我的任务</span>
      </p>
      <div>
        <app-my-task [data]="myTaskList"></app-my-task>
      </div>
    </div>
    <div class="schedule-list">
      <p class="title">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>待办日程</span>
      </p>
      <div>
        <app-my-schedule [data]="scheduleList"></app-my-schedule>
      </div>
    </div>
  </div>
</div>
