<div class="task-card">
  <div class="top">
    <span>{{data?.number}}</span>
    <ng-container class="top" [ngSwitch]="data?.status">
      <nz-tag *ngSwitchCase="1" [nzColor]="'#2db7f5'">未开始</nz-tag>
      <nz-tag *ngSwitchCase="2" [nzColor]="'#22d7bb'">进行中</nz-tag>
      <nz-tag *ngSwitchCase="3" [nzColor]="'#87d068'">已完成</nz-tag>
      <nz-tag *ngSwitchCase="4" [nzColor]="'#f50'">已作废</nz-tag>
    </ng-container>
  </div>
  <p class="middle"> {{data?.name}}</p>
  <div class="bottom">
    <nz-tag [nzColor]="'#f50'">截止时间{{data?.endTime | formatDate}}</nz-tag>
  </div>
</div>
