<div class="kanban">
  <div class="kanban-content" cdkDropListGroup>
    <div class="task-sort" *ngFor="let item of taskSort;">
      <h3 class="task-sort-header" [ngStyle]="{'color': item.color}">
        <span>{{item.name}}({{item.taskList.length}}/{{taskList.length}})</span>
        <i nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" [nzTrigger]="'click'" nz-icon
          nzType="ellipsis" nzTheme="outline"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="addTask(item.status)">新建任务</li>
            <li nz-menu-item (click)="addTask(item.status)">新建状态分组</li>
            <li nz-menu-item (click)="addTask(item.status)">分组重命名</li>
            <li nz-menu-item (click)="addTask(item.status)">删除状态分组</li>
          </ul>
        </nz-dropdown-menu>
      </h3>
      <nz-progress class="progress" nzSize="small" [nzShowInfo]="false"
        [nzStrokeColor]="{ '0%': '#d9d9d9', '100%': item.color }" [nzPercent]="item.taskList.length/taskList.length*100">
      </nz-progress>
      <ul class="task-sort-content" cdkDropList [cdkDropListData]="item.taskList"
        (cdkDropListDropped)="drop($event, item.status)">
        <li class="task-item" cdkDrag *ngFor="let sonItem of item.taskList;" (click)="taskDetail(sonItem._id)">
          <div class="task-item-header">
            <span>{{sonItem.number}}</span>
          </div>
          <div class="task-item-content">
            <p>{{sonItem.name}}</p>
            <img [src]="sonItem.principal.avatar" alt="">
          </div>
          <div class="task-item-tag">
            <nz-tag [nzColor]="'#f50'">截止时间{{sonItem.endTime | formatDate}}</nz-tag>
          </div>
        </li>
        <nz-empty *ngIf="item.taskList.length === 0"></nz-empty>
      </ul>
    </div>
  </div>
</div>
