<form [formGroup]="form" class="common-form">
  <div class="form-item">
    <label for="">任务名称:</label>
    <input nz-input formControlName="name" />
  </div>
  <div class="form-item">
    <label for="">任务描述:</label>
    <input nz-input formControlName="content" />
  </div>
  <div class="form-item">
    <label for="">开始时间:</label>
    <nz-date-picker formControlName="startTime"></nz-date-picker>
  </div>
  <div class="form-item">
    <label for="">结束时间:</label>
    <nz-date-picker formControlName="endTime"></nz-date-picker>
  </div>
  <div class="form-item">
    <label for="">项目类型:</label>
    <nz-select nzPlaceHolder="项目类型" formControlName="type">
      <nz-option *ngFor="let item of types;" [nzLabel]="item.name" [nzValue]="item.value">
      </nz-option>
    </nz-select>
  </div>
  <div class="form-item">
    <label for="">标签:</label>
    <nz-select nzMode="multiple" nzShowSearch nzPlaceHolder="选择标签" formControlName="tag">
      <nz-option nzCustomContent *ngFor="let item of projectDetail.tag;" [nzLabel]="item.name" [nzValue]="item._id">
        <nz-tag [nzColor]="item.color">{{item.name}}</nz-tag>
      </nz-option>
    </nz-select>
  </div>
  <div class="footer">
    <button nz-button class="login-form-button" nzType="primary" [disabled]="!form.valid"
      (click)="submitForm()">确定</button>
    <button nz-button class="login-form-button" (click)="cancel()" nzType="default">取消</button>
  </div>
</form>
