.member-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 15px;
  background-color: white;

  table {
    width: 100%;

    tbody tr:hover {
      background-color: honeydew;
      cursor: pointer;
    }

    th,
    td {
      text-align: left;
      min-height: 45px;
      padding: 8px 20px;
      box-sizing: border-box;
      line-height: 29px;
      overflow: hidden;
    }

    th {
      color: #909399;
      border-bottom: 1px solid rgb(235, 238, 245);
    }

    td {
      color: #909399;
      height: 65px;
      border-top: 1px solid rgb(235, 238, 245);
    }
  }
}
