.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/imgs/login-back.jpg') top left no-repeat #fff;
  background-size: cover;

  form {
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    width: 400px;
    height: 360px;

    .title {
      text-align: center;
      margin-top: 20px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
