<div class="task-detail">
  <h2>{{taskDetail.name}}</h2>
  <div class="task-detail-part">
    <div class="task-detail-item">
      <div>
        <h3 [ngSwitch]="taskDetail.status">
          <nz-tag *ngSwitchCase="1" [nzColor]="'#2db7f5'">未开始</nz-tag>
          <nz-tag *ngSwitchCase="2" [nzColor]="'#22d7bb'">进行中</nz-tag>
          <nz-tag *ngSwitchCase="3" [nzColor]="'#87d068'">已完成</nz-tag>
          <nz-tag *ngSwitchCase="4" [nzColor]="'#f50'">已作废</nz-tag>
        </h3>
        <h5>当前状态</h5>
      </div>
    </div>
    <div class="task-detail-item">
      <nz-avatar [nzSize]="50" nzIcon="user" [nzSrc]="taskDetail.principal.avatar"></nz-avatar>
      <div>
        <h3>{{taskDetail.principal.nickname}}</h3>
        <h5>负责人</h5>
      </div>
    </div>
    <div class="task-detail-item">
      <label>开始时间:</label>
      <nz-date-picker [nzSize]="'small'" [(ngModel)]="taskDetail.startTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
    </div>
    <div class="task-detail-item">
      <label>截止时间:</label>
      <nz-date-picker [nzSize]="'small'" [(ngModel)]="taskDetail.endTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
    </div>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="任务描述">
      <p>{{taskDetail.content}}</p>
    </nz-tab>
    <nz-tab nzTitle="标签">
      <p>{{taskDetail.tag.join()}}</p>
    </nz-tab>
  </nz-tabset>
  <nz-divider></nz-divider>
  <div class="task-detail-item">
    <label *ngIf="taskDetail.comment.length > 0">任务评论:</label>
    <nz-comment *ngFor="let item of taskDetail.comment;" [nzAuthor]="item.commentAuthor.nickname"
      [nzDatetime]="item.commentTime">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.commentAuthor.avatar">
      </nz-avatar>
      <nz-comment-content>
        <p>{{item.content}}</p>
      </nz-comment-content>
      <nz-comment-action>
        <i nz-tooltip nzTitle="Like" nz-icon type="like"></i>
        <span class="count like">{{ 0 }}</span>
      </nz-comment-action>
      <nz-comment-action>
        <i nz-tooltip nzTitle="Dislike" nz-icon type="dislike"></i>
        <span class="count dislike">{{ 1 }}</span>
      </nz-comment-action>
      <nz-comment-action>Reply to</nz-comment-action>
    </nz-comment>
  </div>
  <div class="task-detial-item">
    <nz-input-group [nzPrefix]="prefixTemplate">
      <input type="text" [(ngModel)]="comment" nz-input (keyup.enter)="addComment()" placeholder="添加评论按enter发送" />
    </nz-input-group>
    <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
  </div>
</div>
