<div class="calendar">
  <app-header [icon]="'smile'" [title]="'我的日程'"></app-header>
  <div class="calendar-content">
    <nz-calendar [nzDateFullCell]="dateCellTpl" [(ngModel)]="selectedDate" (nzSelectChange)="selectChange($event)">
    </nz-calendar>
  </div>
</div>
<ng-template #dateCellTpl let-date>
  <div class="calendar-cell" (dblclick)="addSchedule(date)">
    <p>{{date.toLocaleDateString()}}</p>
    <ul>
      <ng-container *ngFor="let item of schedulekList;">
        <li *ngIf="item.showStartTime === date.toLocaleDateString()" nz-popover [nzTitle]="'日程详情'"
          [nzContent]="scheduleContent" nzTrigger="click">
          <nz-badge nzStatus="error"></nz-badge>
          <span>{{item.name}}</span>
          <ng-template #scheduleContent>
            <div class="schedule-detail">
              <div class="header">
                <p>{{item.name}}</p>
                <div>
                  <button nz-button nzSize="small" (click)="participate(item._id)" nzType="primary">参加</button>
                  <button nz-button nzSize="small" (click)="refuse(item._id)" nzType="danger">拒绝</button>
                  <!-- <button nz-button nzSize="small" (click)="deleteSchedule(item._id)" nzType="danger">删除</button> -->
                </div>
              </div>
              <div class="item">
                <label style="align-self: flex-start;">描述:</label>
                <p style="align-self: flex-start;">{{item.content}}</p>
              </div>
              <div class="item">
                <label>开始时间:</label>
                <span>{{item.startTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
              </div>
              <div class="item">
                <label>结束时间:</label>
                <span>{{item.endTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
              </div>
              <div class="item">
                <label>创建人:</label>
                <app-member-item style="flex: 1;" [hover]="false" [data]="item.creator"></app-member-item>
              </div>
              <div class="item">
                <label>受邀人:</label>
                <div style="flex: 1;">
                  <img class="avatar" *ngFor="let sonItem of item.participant" nz-tooltip
                    [nzTooltipTitle]="sonItem.nickname" [src]="sonItem.avatar">
                </div>
              </div>

            </div>
          </ng-template>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>
