.task-list-item {
    cursor: pointer;
    margin: 8px 6px;
    padding: 8px 12px;
    min-height: 60px;
    background-color: #eee;
    border-radius: 3px;
    border-left: 4px solid salmon;
    // box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
  
    .task-list-item-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .task-list-item-title {
        margin: 10px 0;
        font-weight: 500;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    .task-list-item-content {
      margin: 0 0 10px 0;
    }
  
    .task-list-item-tag {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      span {
        color: gray;
        font-size: 12px;
        font-weight: 500;
      }
    }
  
  }
  