<div class="task-detail">
  <div class="detail-left">
    <h2 style="margin-bottom: 0;">{{taskDetail?.name}}</h2>
    <nz-divider></nz-divider>
    <div class="detail-part">
      <label>任务状态:</label>
      <span nz-popover [(nzVisible)]="visible" [nzPopoverContent]="contentTemplate" [nzPopoverTrigger]="'click'"
        [nzPopoverPlacement]="'bottom'">
        <span [ngSwitch]="taskDetail.status">
          <nz-tag *ngSwitchCase="1" [nzColor]="'#2db7f5'">未开始</nz-tag>
          <nz-tag *ngSwitchCase="2" [nzColor]="'#22d7bb'">进行中</nz-tag>
          <nz-tag *ngSwitchCase="3" [nzColor]="'#87d068'">已完成</nz-tag>
          <nz-tag *ngSwitchCase="4" [nzColor]="'#f50'">已作废</nz-tag>
        </span>
      </span>
      <ng-template #contentTemplate>
        <div class="status-switch">
          <p (click)="selectStatus(1)">
            <nz-tag [nzColor]="'#2db7f5'">未开始</nz-tag>
          </p>
          <p (click)="selectStatus(2)">
            <nz-tag [nzColor]="'#22d7bb'">进行中</nz-tag>
          </p>
          <p (click)="selectStatus(3)">
            <nz-tag [nzColor]="'#87d068'">已完成</nz-tag>
          </p>
          <p (click)="selectStatus(4)">
            <nz-tag [nzColor]="'#f50'">已作废</nz-tag>
          </p>
        </div>
      </ng-template>
    </div>
    <div class="detail-part">
      <label>负责人:</label>
      <app-member-item [hover]="false" [data]="taskDetail?.principal"></app-member-item>
    </div>
    <div class="detail-part">
      <label>开始时间:</label>
      <nz-date-picker [(ngModel)]="taskDetail.startTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
      <label style="margin-left: 20px; margin-right: 5px;">结束时间:</label>
      <nz-date-picker [(ngModel)]="taskDetail.endTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
    </div>

    <div class="detail-part">
      <label>任务类型:</label>
      <nz-select style="width: 200px;" [(ngModel)]="taskDetail.type" nzPlaceHolder="任务类型">
        <nz-option *ngFor="let item of types" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="detail-part">
      <label for="">标签:</label>
      <p>
        <nz-tag *ngFor="let item of taskDetail.tag" [nzColor]="item.color">{{item.name}}</nz-tag>
      </p>
    </div>
    <div class="detail-part">
      <label style=" align-self: flex-start;" for="">任务描述:</label>
      <textarea rows="10" nz-input [(ngModel)]="taskDetail.content"></textarea>
    </div>
  </div>
  <div class="detail-right">
    <div>
      <label>任务评论:</label>
      <nz-comment *ngFor="let item of comments;" [nzAuthor]="item.author.nickname"
        [nzDatetime]="item.time | date: 'yyyy-MM-dd HH:mm:ss'">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.author.avatar">
        </nz-avatar>
        <nz-comment-content><span>{{item.content}}</span></nz-comment-content>
      </nz-comment>
      <nz-empty style="margin-top: 170px;" *ngIf="comments.length === 0"></nz-empty>
    </div>
    <nz-divider></nz-divider>
    <div style="width: 100%; margin-bottom: 10px;">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input type="text" [(ngModel)]="comment" nz-input (keyup.enter)="addComment()" placeholder="添加评论按enter发送" />
      </nz-input-group>
      <ng-template #prefixTemplate><i nz-icon nzType="user"></i></ng-template>
    </div>
  </div>
</div>
