<div class="task-detail">
  <div class="detail-left">
    <form #myForm="ngForm">
      <h2 style="margin-bottom: 0;">{{taskDetailModel?.name}}</h2>
      <nz-divider></nz-divider>
      <div class="detail-part">
        <label>任务状态:</label>
        <app-status-change name="status" [(ngModel)]="taskDetailModel.status"></app-status-change>
      </div>
      <div class="detail-part" style="position: relative;">
        <label>负责人:</label>
        <app-member-item [(nzVisible)]="visible" nz-popover [nzPopoverContent]="contentTemplate"
          nzPopoverTrigger="click" nzPopoverPlacement="bottom" [hover]="false" [data]="taskDetailModel?.principal">
        </app-member-item>
        <ng-template #contentTemplate>
          <div class="invite-content">
            <app-member-item *ngFor="let item of projectDetail?.participant;" (click)="changePrincipal(item)"
              [hover]="true" [data]="item">
            </app-member-item>
          </div>
        </ng-template>
      </div>
      <div class="detail-part">
        <label>开始时间:</label>
        <nz-date-picker name="startTime" [(ngModel)]="taskDetailModel.startTime">
        </nz-date-picker>
        <label style="margin-left: 20px; margin-right: 5px;">结束时间:</label>
        <nz-date-picker name="endTime" [(ngModel)]="taskDetailModel.endTime">
        </nz-date-picker>
      </div>

      <div class="detail-part">
        <label>任务类型:</label>
        <nz-select name="type" [(ngModel)]="taskDetailModel.type" nzPlaceHolder="任务类型">
          <nz-option *ngFor="let item of projectDetail.type" [nzValue]="item._id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
      <div class="detail-part">
        <label for="">标签:</label>
        <div>
          <nz-tag *ngFor="let item of taskDetailModel.tag; let i = index;" [nzMode]="'closeable'"
            (nzOnClose)="deleteTag(i)" [nzColor]="item.color">{{item.name}}</nz-tag>
          <i class="iconfont iconxinzeng" [(nzVisible)]="visible1" nz-popover [nzPopoverContent]="tagTemplate"
            nzPopoverTrigger="click" nzPopoverPlacement="bottom" (click)="visible1 = !visible1"></i>
          <ng-template #tagTemplate>
            <ul class="tag-list">
              <li *ngFor="let item of projectDetail?.tag;" (click)="addTag(item)">
                <nz-tag [nzColor]="item.color">{{item.name}}</nz-tag>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div class="detail-part">
        <label style=" align-self: flex-start;">任务描述:</label>
        <textarea rows="10" name="content" nz-input [(ngModel)]="taskDetailModel.content"></textarea>
      </div>
    </form>
  </div>
  <div class="detail-right">
    <div>
      <label>任务评论:</label>
      <nz-comment *ngFor="let item of comments;" [nzAuthor]="item.author.nickname"
        [nzDatetime]="item.time | date: 'yyyy-MM-dd HH:mm:ss'">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.author.avatar">
        </nz-avatar>
        <nz-comment-content><span>{{item.content}}</span></nz-comment-content>
      </nz-comment>
      <nz-empty style="margin-top: 170px;" *ngIf="comments.length === 0"></nz-empty>
    </div>
    <nz-divider></nz-divider>
    <div style="width: 100%; margin-bottom: 10px;">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input type="text" [(ngModel)]="comment" nz-input (keyup.enter)="addComment()" placeholder="添加评论按enter发送" />
      </nz-input-group>
      <ng-template #prefixTemplate><i nz-icon nzType="user"></i></ng-template>
    </div>
  </div>
</div>
