<div [formGroup]="form" class="form">
  <div class="form-item">
    <label for="">项目名称:</label>
    <input nz-input formControlName="name" />
  </div>
  <div class="form-item">
    <label for="">项目描述:</label>
    <input nz-input formControlName="content" />
  </div>
  <div class="form-item">
    <label for="">项目成员:</label>
    <nz-select nzMode="multiple" nzPlaceHolder="选择成员" formControlName="participant">
      <nz-option *ngFor="let item of memberList" [nzLabel]="item.nickname" [nzValue]="item._id"></nz-option>
    </nz-select>
  </div>
  <div class="footer">
    <button nz-button class="login-form-button" nzType="primary" [disabled]="!form.valid"
      (click)="submitForm()">确定</button>
    <button nz-button class="login-form-button" (click)="cancel()" nzType="default">取消</button>
  </div>
</div>
