.member-item {
  margin: 0 -9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  cursor: pointer;
  position: relative;

  .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 0 10px 0 16px;
    background-color: #eee;
    display: inline-block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
  }

  div {
    height: 40px;
    text-align: left;

    p {
      margin-bottom: 0;
      color: #262626;
    }

    span {
      color: #8c8c8c
    }
  }

  i {
    position: absolute;
    right: 15px;
    top: 13px;
    display: none;
  }
}

.hover-state:hover {
  background-color: #f0f0f0;
}

.show-delete:hover {
  i {
    display: inline;
  }
}
