<div class="task-detail">
  <div class="detail-left">
    <div class="detail-part" style="justify-content: space-between;">
      <h2>{{taskDetail.name}}</h2>
      <app-avatar-show [avatar]="taskDetail.principal.avatar" [name]="taskDetail.principal.nickname"></app-avatar-show>
    </div>
    <nz-divider></nz-divider>
    <div class="detail-part">
      <label>任务状态:</label>
      <ng-container [ngSwitch]="taskDetail.status">
        <nz-tag *ngSwitchCase="1" [nzColor]="'#2db7f5'">未开始</nz-tag>
        <nz-tag *ngSwitchCase="2" [nzColor]="'#22d7bb'">进行中</nz-tag>
        <nz-tag *ngSwitchCase="3" [nzColor]="'#87d068'">已完成</nz-tag>
        <nz-tag *ngSwitchCase="4" [nzColor]="'#f50'">已作废</nz-tag>
      </ng-container>
    </div>
    <div class="detail-part">
      <label>开始时间:</label>
      <nz-date-picker [nzSize]="'small'" [(ngModel)]="taskDetail.startTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
    </div>
    <div class="detail-part">
      <label>截止时间:</label>
      <nz-date-picker [nzSize]="'small'" [(ngModel)]="taskDetail.endTime" (ngModelChange)="timeChange($event)">
      </nz-date-picker>
    </div>
    <div class="detail-part">
      <label for="">标签:</label>
      <p>
        <nz-tag *ngFor="let item of taskDetail.tag" [nzColor]="item.color">{{item.name}}</nz-tag>
      </p>
    </div>
    <div class="detail-part">
      <label for="">任务描述:</label>
      <p>{{taskDetail.content}}</p>
    </div>
  </div>
  <div class="detail-right">
    <div>
      <label>任务评论:</label>
      <nz-comment *ngFor="let item of taskDetail.comment;" [nzAuthor]="item.commentAuthor.nickname"
        [nzDatetime]="item.commentTime">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.commentAuthor.avatar">
        </nz-avatar>
        <nz-comment-content>
          <span>{{item.content}}</span>
        </nz-comment-content>
        <nz-comment-action>
          <i nz-tooltip nzTitle="Like" nz-icon nzType="like"></i>
          <span class="count like">{{ 0 }}</span>
        </nz-comment-action>
        <nz-comment-action>
          <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"></i>
          <span class="count dislike">{{ 1 }}</span>
        </nz-comment-action>
      </nz-comment>
      <nz-empty *ngIf="taskDetail.comment.length === 0"></nz-empty>
    </div>
    <div>
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input type="text" [(ngModel)]="comment" nz-input (keyup.enter)="addComment()" placeholder="添加评论按enter发送" />
      </nz-input-group>
      <ng-template #prefixTemplate><i nz-icon nzType="user"></i></ng-template>
    </div>
  </div>

</div>
