.task-detail {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;

  .detail-left {
    width: 65%;
    height: 400px;
    margin: 10px;
    background-color: white;
    padding: 15px;
    overflow: auto;

    h2 {
      margin: 10px 0;
    }

    .detail-part {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;

      div {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #eee;
        }

        label {
          margin-right: 8px;
        }
      }
    }

    .detail-tag {
      margin-top: 10px;
    }

    .detail-desc {
      margin-top: 10px;
    }
  }

  .detail-right {
    flex: 1;
    height: 400px;
    margin: 10px 10px 10px 0;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &>div:nth-child(1) {
      flex: 1;
      width: 100%;
      overflow: auto;
    }

    &>div:nth-child(2) {
      width: 100%;
    }
  }
}

:host ::ng-deep .ant-comment-inner {
  padding-bottom: 0px;
}

:host ::ng-deep .ant-modal-body {
  padding: 0 !important;
}
