<div>
  <nz-avatar nzIcon="user" [nzSrc]="userInfo.avatar"></nz-avatar>
  <span style="margin-left: 5px;" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'"
    [nzTrigger]="'click'">{{userInfo.nickname}}</span>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="updateInfo()">账号设置</li>
      <li nz-menu-item (click)="updatePreference()">偏好设置</li>
      <li nz-menu-item (click)="logout()">退出登录</li>
    </ul>
  </nz-dropdown-menu>
</div>
