<div class="form">
  <div class="form-item" *ngFor="let item of authorityArray">
    <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
      {{item.label}}
    </label>
    <nz-checkbox-group [(ngModel)]="item.features" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
  </div>
  <div class="form-item" style="justify-content:flex-end;">
    <button style="margin-right: 30px;" nz-button nzType="info" (click)="cancel()">取消</button>
    <button nz-button nzType="primary" (click)="submitForm()">提交</button>
  </div>
</div>
