.form {
  table {
    width: 100%;

    tr {
      height: 70px;
      line-height: 70px;
      text-align: left;

      td {
        padding: 10px;
        border: 1px solid #eeeeee;
      }
    }
  }

  .form-item {
    overflow: hidden;
    height: auto;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      width: 140px;
      align-self: flex-start;
    }
  }

  .footer {
    overflow: hidden;
    height: auto;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin: 0 10px;
    }
  }
}
