<div class="calendar">
  <app-task-option></app-task-option>
  <div class="calendar-content">
    <nz-calendar [nzDateFullCell]="dateCellTpl" [(ngModel)]="selectedDate" (nzSelectChange)="selectChange($event)">
    </nz-calendar>
  </div>


  <ng-template #dateCellTpl let-date>
    <div class="calendar-cell">
      <p>{{date.toLocaleDateString()}}</p>
      <ul>
        <ng-container *ngFor="let item of taskList;">
          <li style="margin: 4px 0;" *ngIf="item.endTime === date.toLocaleString().split(' ')[0]">
            <nz-badge style="margin-right: 4px;" [nzStatus]="'warning'" [nzText]="item.name"></nz-badge>
            <span [ngSwitch]="item.status">
              <span *ngSwitchCase="1">
                <nz-tag [nzColor]="'#2db7f5'">未开始</nz-tag>
              </span>
              <span *ngSwitchCase="2">
                <nz-tag [nzColor]="'#22d7bb'">进行中</nz-tag>
              </span>
              <span *ngSwitchCase="3">
                <nz-tag [nzColor]="'#87d068'">已完成</nz-tag>
              </span>
              <span *ngSwitchCase="4">
                <nz-tag [nzColor]="'#f50'">已作废</nz-tag>
              </span>
            </span>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-template>
</div>
