<div class="role">
  <div class="top">
    <nz-input-group style="width: 200px;" [nzPrefix]="prefixTemplateUser">
      <input type="text" nzSize="large" nz-input placeholder="搜索角色" />
    </nz-input-group>
    <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
    <button nz-button nzType="primary" (click)="addRole()" nzShape="round">
      <i nz-icon nzType="download"></i>新建角色
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>角色名称</th>
        <th>有效性</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of roleList;">
        <td width="20%">{{ item?.name }}</td>
        <td width="10%">
          <nz-badge *ngIf="item?.valid" [nzStatus]="'success'" nzText="有效"></nz-badge>
          <nz-badge *ngIf="!item?.valid" [nzStatus]="'default'" nzText="无效"></nz-badge>
        </td>
        <td width="55%">{{ item?.description }}</td>
        <td width="15%">
          <span (click)="addRole(item)">修改</span>
          <span (click)="setAuthority(item._id)">配置权限</span>
          <span (click)="deleteRole(item._id, item.name, $event)">删除</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
