<form class="common-form" [formGroup]="form">
  <div class="form-item">
    <label for="">日程名称:</label>
    <input nz-input formControlName="name" />
  </div>
  <div class="form-item">
    <label for="">日程详情:</label>
    <input nz-input formControlName="content" />
  </div>
  <div class="form-item">
    <label for="">开始时间:</label>
    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="startTime"></nz-date-picker>
  </div>
  <div class="form-item">
    <label for="">结束时间:</label>
    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="endTime"></nz-date-picker>
  </div>
  <div class="form-item">
    <label for="">参加人员:</label>
    <nz-select nzMode="multiple" nzPlaceHolder="选择成员" formControlName="participant">
      <nz-option *ngFor="let item of memberList" [nzLabel]="item.nickname" [nzValue]="item._id"></nz-option>
    </nz-select>
  </div>
  <div class="footer">
    <button nz-button class="login-form-button" nzType="primary" [disabled]="!form.valid"
      (click)="submitForm()">提交</button>
    <button nz-button class="login-form-button" (click)="cancel()" nzType="default">取消</button>
  </div>
</form>
