<div class="project">
  <div class="project-search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="搜索项目" [(ngModel)]="name" (keyup.enter)="searchProject()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search" nzTheme='outline' (click)="searchProject()"></i></ng-template>
  </div>
  <div class="project-list">
    <div class="project-item" *ngFor="let item of projectList;" (click)="projectDetail(item._id)">
      <div class="top">{{item.name}}</div>
      <div class="middle">
        <img src="assets/imgs/project-1.jpg" alt="">
      </div>
      <div class="bottom">{{item.content}}</div>
      <div class="option">
      </div>
    </div>
  </div>
</div>