<div class="project">
  <app-header [icon]="'folder'" [title]="'全部项目'"></app-header>
  <div class="project-content">
    <div class="opertion">
      <div>
        <input type="text" nz-input placeholder="搜索项目(按enter搜索)" [(ngModel)]="name" (keyup.enter)="searchProject()" />
        <span style="font-size: 26px; margin-left: 13px; vertical-align: sub;" (click)="searchProject()" class="iconfont iconsearch"></span>
      </div>
      <span>共<b>{{projectList.length}}</b>个项目</span>
    </div>
    <div class="project-list">
      <div class="project-item" *ngFor="let item of projectList;" (click)="projectDetail(item._id)">
        <span class="star iconfont iconstar"></span>
        <div class="title">
          <span>{{item?.name}}</span>
        </div>
        <div class="content">
          <span>{{item?.content}}</span>
        </div>
        <div class="author">
          <span>{{item?.creater?.nickname}}· {{item?.createDate |formatDate}}</span>
        </div>
        <div class="option">
          <span (click)="updateProject(item, $event)" class="iconfont iconsetting"></span>
          <span (click)="deleteProject(item._id, item.name, $event)" class="iconfont icondelete"></span>
        </div>
      </div>
      <div class="add-project" (click)="projectAdd()">
        <span style="font-size: 25px;" class="iconfont iconplus"></span>
        <span>创建新项目</span>
      </div>
    </div>
  </div>
</div>
