<div class="register">
  <h3>注册账号<span (click)="goLogin()">立即登录</span></h3>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">用户名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="username" id="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" id="password" formControlName="password"
          (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="repassword" nzRequired>确认密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" formControlName="repassword" id="repassword" />
        <nz-form-explain *ngIf="validateForm.get('repassword')?.dirty && validateForm.get('repassword')?.errors">
          <ng-container *ngIf="validateForm.get('repassword')?.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="validateForm.get('repassword')?.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>昵称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="nickname" formControlName="nickname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Phone</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phone']">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
          <input type="number" formControlName="phone" id="'phone'" nz-input />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors">
          Please
          input your phone number!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="email" formControlName="email" placeholder="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="introduction" nzRequired>introduction</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <input nz-input formControlName="introduction" id="introduction" />
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button style="width: 100%" nz-button nzType="primary">注册</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
