<div class="project-detail">
  <div class="view-header">
    <div class="left"></div>
    <div class="center">
      <li [class.select]="item.value === selectTab" *ngFor="let item of viewList;" (click)="tabChange(item.value)">
        {{item.title}}</li>
    </div>
    <div class="right">
      <li (click)="projectSetting()">
        <i nz-icon nzType="setting" nzTheme="twotone"></i>
        <span>成员</span>
      </li>
      <li (click)="projectSetting()">
        <i nz-icon nzType="setting" nzTheme="twotone"></i>
        <span>标签</span>
      </li>
      <li (click)="projectSetting()">
        <i nz-icon nzType="setting" nzTheme="twotone"></i>
        <span>设置</span>
      </li>
    </div>
  </div>
  <div class="view-detail">
    <ng-template #viewDetail></ng-template>
  </div>
</div>
