<div class="project-detail">
  <div class="view-header">
    <div class="left">
      <i nz-icon nzType="folder-open" nzTheme="twotone"></i>
      <span>{{currentProject.name}}</span>
    </div>
    <div class="center">
      <li [class.select]="item.value === selectTab" *ngFor="let item of viewList;" (click)="tabChange(item.value)">
        {{item.title}}</li>
    </div>
    <div class="right">
      <div (click)="addTask(1)">
        <span style="font-size: 22px;" class="iconfont iconxinzeng"></span>
      </div>
      <div (click)="openMember()">
        <i class="iconfont iconusers-alt"></i>
        <span>{{currentProject.member?.length}}</span>
      </div>
      <div (click)="openTag()">
        <i class="iconfont icontag"></i>
        <span>{{currentProject.tag?.length}}</span>
      </div>
    </div>
  </div>
  <div class="view-detail">
    <ng-template #viewDetail></ng-template>
  </div>
</div>
