.project-detail {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .view-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0;

    .left {
      height: 50px;
      padding-left: 20px;
      line-height: 50px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      i {
        font-size: 18px;
      }

      span {
        margin-left: 10px;
      }
    }

    .center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 0;

      li {
        margin: 0 30px;
        text-align: center;
        height: 35px;
        padding: 0 10px;
        line-height: 35px;
        cursor: pointer;
        font-size: 15px;
        position: relative;

        &:hover {
          color: deepskyblue;

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            height: 3px;
            width: 100%;
            left: 0;
            bottom: -8px;
            border-radius: 10px;
            background-color: deepskyblue;
          }
        }
      }
    }

    .right {
      height: 50px;
      margin: 0 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        height: 50px;
        line-height: 50px;
        margin: 0 10px;

        i {
          font-size: 20px;
        }

        span {
          vertical-align: top;
          padding-left: 6px
        }
      }

      div:hover {
        i,span {
          cursor: pointer;
          color: deepskyblue;
        }
      }
    }
  }

  .view-detail {
    flex: 1;
    width: 100%;
    overflow: auto;
  }
}

.select {
  color: deepskyblue;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -8px;
    border-radius: 10px;
    background-color: deepskyblue;
  }
}
